extensions:
    middlewares: Contributte\Middlewares\DI\MiddlewaresExtension
    api: Apitte\Core\DI\ApiExtension

api:
    debug: %debugMode%
    catchException: true
    plugins:
        Apitte\Console\DI\ConsolePlugin:
        Apitte\Core\DI\Plugin\CoreDecoratorPlugin:
        Apitte\Middlewares\DI\MiddlewaresPlugin:
        Apitte\Negotiation\DI\NegotiationPlugin:
            unification: true
        Apitte\Core\DI\Plugin\CoreMappingPlugin:

services:
    decorator.request.authentication:
        class: App\Decorators\RequestAuthenticationDecorator
        tags: [apitte.core.decorator: [priority: 1, type: handler.before]]
    decorator.response.exception:
        class: App\Decorators\ExceptionDecorator
        tags: [apitte.core.decorator: [priority: 9999, type: handler.after]]
    decorator.response.cors:
        class:  App\Decorators\CorsDecorator
        tags: [apitte.code.decorator: [priority: 9998, type: handler.after]]
